footer{
    background-color: #0f0f0f;
    height: 100%;
    width: 100%;
}

footer .terceiro-title{
    color: #993399;
    margin-bottom: 10px;
    font-size: 32px; 
    font-weight: 500;
    line-height: 45px; 
}

footer .footer_content .segundo-title {
    font-size: 40px; 
    font-weight: 700;
    color: #993399;
  }


footer .footer_content{
    text-align: center;
    padding: 96px 32px 16px;
    margin-bottom: 0;
    width: 100%;
    max-width: 1200px; 
    padding: 0 40px; 
    margin: 0 auto;
}

footer .footer_content .footer_contact span{
    display: block;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}

footer .footer_content ul li{
    display: inline-block;
}

footer .footer_content ul a{
    display: inline-block;
    padding: 10px;
}

footer .footer_content .footer_copyright{
    font-size: 14px;
    color: white;
}

footer .image{
    transition: all 1s ease;
  }
  
  footer .image:hover{
    transition: 0.5s;
      transform: translate(0, -10px);
      transition-delay: 0.2s;
  }


