.skills{
    background-color: #0f0f0f;
    scroll-margin-top: 240px;
}

.skills .skills_content .terceiro-title {
  color: #993399;
  font-weight: 500;
  line-height: 45px; 
}

.skills .description{
    color: white;
}

.skills .skills_content{
    padding: 96px 64px;
    text-align: center;
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    margin-bottom: 260px;
}

.skills .skills_content .description{
    max-width: 896px;
    margin: 0 auto 96px;
}

.skills .skills_content ul{
    display: grid;
    gap: 32px;
}

.skills .skills_content ul li .image-container{
    display: inline-block;
}


.skills .skills_content ul li h3{
    font-size: 25.6px;
    font-weight: 500;
    margin: 32px 0 16px;
}


.skills .skills_content ul li .image-container {
    position: relative;
    cursor: pointer;
  }
  
  .skills .skills_content ul li .image-container .title-skills {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  .skills .skills_content ul li .image-container:hover .title-skills {
    opacity: 1;
  }
  
  .skills .skills_content ul li .effect {
    transition: transform 0.3s ease;
  }
  
  .skills .skills_content ul li .image-container:hover .effect {
    transform: translateY(-10px);
  }

  
  

  

